extends layout 

block content 

 h1 Sign Up

 form(method="POST")
    input(type="text" name="username" placeholder="username") 
    input(type="password" name="password" placeholder="password")

    button Sign Up


    if errors 
      for err in errors
         p #{err.msg}