:root{
    --dark-color: 0 4% 14%;
    --light-color: 0 2% 89%;
}

body{
    margin:0;
    background-color: hsl(var(--dark-color));
}

/* *--------------------------text-styling--------------------------------------------- */

.uppercase{
    text-transform: uppercase;
}



/* ?--------------------------Content-------------------------------------- */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(var(--light-color));
    /* background: red; */
}

.navbar a{
    text-decoration: none;
    color: hsl(var(--light-color));
}

.link-holder{
    display: flex;
    justify-content: space-around;
    font-size: 32px;
}

.web-title{
    font-size: 48px;
    /* background-color: red; */
}
.web-title:hover{
    text-decoration: underline;
}

.holder-1{
    width: 35rem;
    /* background: yellow; */
}
.holder-2{
    /* background-color: blue; */
    width: 35rem;
}

/* -----------------------Home Page-------------------------------- */

.carousel-item{
    position: relative;
}

.carousel-image{
    border-radius: 10px;
}

.carousel-text-items{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 24rem;
    height: 500px;
    top:0;
    color: hsl(var(--light-color));
}

.carousel-text-items p{
    width: 14rem;
}

.carousel{
    display: flex;
    gap: .5rem;
}