.createForm{
    display: flex;
    justify-content: center;

    height: 100vh;
}


input{
    
}

.createForm *{
    width: fit-content;
}
.textBody{
    width: 50rem;
    height: 30rem;
}

div{
    display: flex;
    flex-direction: column;
}